///
/// Logo
///

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

///
/// Search
///

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: 0.2s;
    margin-right: -3.25rem;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
    &::placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100;
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    transition: 0.1s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.1rem);
    }
  }

  &__icon {
    height: 2.3rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
  }
}

///
/// User navigation
///
.user-nav {
  align-self: stretch;
  display: flex;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    background-color: var(--color-primary);

    color: var(--color-grey-light-1);
    border-radius: 100px;
    position: relative;
    top: -0.8rem;
    left: -0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

///
///SIDEBAR
///

.side-nav {
  list-style: none;
  /*  display: flex;
  flex-direction: column; */
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:hover::before {
      transform: scaleY(1);
      /*  background-color: var(--color-primary); */
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-dark);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.2rem;
      height: 100%;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 1, 1) 0.2s,
        background-color 0.1s;
    }

    /*   margin: 0.2rem 0;
    padding: 1rem 4rem;
    transition: 0.3s;
    position: relative; */

    /* &:hover {
      cursor: pointer;
      background-color: var(--color-primary);
    } */

    /* &:hover {
      content: "";
      background-color: var(--color-primary);

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    } */
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
  }

  &__icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: currentColor;
    margin-right: 2rem;
  }
}

.legal {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
}

///
/// GALLERY
///

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

///
/// OVERVIEW
///
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px var(--color-grey-light-2) solid;

  &__heading {
    text-transform: uppercase;

    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    font-size: 1.2rem;

    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    align-self: stretch;

    color: var(--color-grey-light-2);
    padding: 0 2.25rem;
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -0.5rem;
  }

  &__rating-count {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}

///
/// BUTTON INLINE
///

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 0.2rem 0;
  margin-right: 1rem;
  transition: 0.2s;
  padding-bottom: 0.2rem;
  cursor: pointer;

  background-color: transparent;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    scale: 1;
    box-shadow: none;
  }
  50% {
    scale: 1.02;
    box-shadow: 0 0.5rem 2rem rgba(black, 0.2);
  }
  100% {
    scale: 1;
    box-shadow: none;
  }
}

///
/// PARAGRAPH
///

.paragraph {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

///
/// LIST
///

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
    /*    background-size: cover;
    background-image: url("../Img/chevron-thin-right.svg"); */

    background-color: var(--color-primary);
    mask-image: url("../Img/chevron-thin-right.svg");
    mask-size: cover;
  }
}

///
/// RECCOMEND
///
///
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

/* .description {
  font-size: 1.4rem;
  width: 100%;

  padding: 5rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-grey-light-2);
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    background-color: #fff;
  }

  &__left {
    padding: 2rem 3rem;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
  }

  &__paragraph {
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    &:not(:first-child) {
      border-bottom: 1px solid rgb(224, 224, 224);
    }
  }

  &__preference {
    display: flex;
  }

  &__col {
    width: 100%;
    list-style: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(224, 224, 224);
    &-item {
      color: var(--color-grey-dark-2);

      margin: 0.5rem 2.5rem;
    }
    &-icon {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      fill: var(--color-primary);
    }
  }

  &__footer {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__imgs {
    position: relative;
    width: 10rem;
  }

  &__img {
    width: 5rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img-1 {
    left: -30%;
    z-index: 1;
  }
  &__img-2 {
    left: 5%;

    z-index: 2;
  }
  &__img-3 {
    left: 35%;

    z-index: 3;
  }
  &__img-4 {
    left: 65%;

    z-index: 3;
  }

  &__right-content {
    display: flex;
    flex-direction: column;

    background-color: var(--color-grey-light-2);

    width: 100%;
    height: 100%;
  }
}

.feedback {
  margin-bottom: 3rem;
  background-color: #fff;
  padding: 2rem 3rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(black, 0.1);

  &__icon {
    position: absolute;
    top: -0.7rem;
    left: 0;
    width: 5rem;
    height: 5rem;

    fill: var(--color-grey-light-2);
  }
  &__text {
    padding-bottom: 2rem;
    position: relative;
    z-index: 5;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__spans {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 1.3rem;
    display: block;
  }

  &__date {
    font-size: 0.9rem;
  }

  &__rating {
    margin-left: auto;
    color: var(--color-primary);
    font-size: 2rem;
  }
}

.btn {
  &:visited,
  &:link {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 0.2rem var(--color-primary) solid;
    transition: 0.2s;
  }

  &:hover {
    color: #fff;
    background-color: var(--color-primary);
    padding: 0rem 0.4rem;
    border-radius: 5px;
    scale: 1.05;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }
} */
